/* common codes start */
* {
  margin: 0;
  padding: 0;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: "Poppins", serif; */
  /* font-family: "Baloo Bhai 2", serif; */
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

.conrtainer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

img {
  width: 100%;
  height: 100%;
}

a {
  /* display: inline-block; */
  text-decoration: none;
}

/* common codes end */

nav {
  /* background-color: #242323; */
  background-color: #252a2d;
  /* background-color: #374043; */
}

.logo h1 {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  /* font-family: "Poppins", serif; */
  font-family: "Baloo Bhai 2", serif;
  font-weight: 700;
  /* color: rgba(172, 165, 157, 0.755); */
  color: #d4d4d4;
}

ul.navbar-nav {
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul.navbar-nav li {
  float: left;
}

ul.navbar-nav li a {
  display: inline-block;
  color: #d4d4d4;
  text-align: center;
  padding: 20px 20px;
  transition: 0.4s ease;
}

ul.navbar-nav li a:hover,
.dropdown:hover .dropbtn {
  color: #fff;
  background-color: #000;
}

ul.navbar-nav li a.active {
  color: #fff;
  background-color: #000;
}

ul.navbar-nav li.dropdown {
  display: inline-block;
  /* display: block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

ul.navbar-nav .dropdown .dropdown-content a {
  color: #000;
  display: block;
  padding: 12px 16px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #e1e1e1 !important;
  color: #000 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .wrapper {
  background-color: #242323b6 !important;
}
